@model PBJ.AuthService.Api.RequestModels.RegisterRequestModel

<link rel="stylesheet" type="text/css" href="~/css/login-form.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<div class="login-card">
    <h2>Register Page</h2>
    <h3>Enter Your Сredentials</h3>

    <form class="login-form" asp-controller="Auth" asp-action="Register" method="post">
        <input hidden asp-for="ReturnUrl" />
        
        <input type="text" placeholder="Username..." asp-for="UserName">
        <span asp-validation-for="UserName"></span>
        
        <input type="text" placeholder="Surname..." asp-for="Surname">
        <span asp-validation-for="Surname"></span>

        <input type="date" placeholder="Bith date..." asp-for="BirthDate">
        <span asp-validation-for="BirthDate"></span>

        <input type="text" placeholder="Email..." asp-for="Email">
        <span asp-validation-for="Email"></span>

        <div class="password-container">
            <input type="password" placeholder="Password..." asp-for="Password" id="password">
            <span asp-validation-for="Password"></span>
            <i class="fa fa-eye" id="togglePassword" style="margin-left: -30px;margin-top: 15px; cursor: pointer;" aria-hidden="true"></i>
        </div>

        <input type="password" placeholder="ConfirmPassword..." asp-for="ConfirmPassword" id="confirm-password">
        <span asp-validation-for="ConfirmPassword"></span>

        <button type="submit" asp-action="Register" asp>Register</button>

        <a class="button" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a>
    </form>
</div>

<script type="text/ecmascript">
    var togglePassword = document.getElementById("togglePassword");
    var password = document.getElementById("password");
    var confirmPassword = document.getElementById("confirm-password");

    togglePassword.addEventListener("click", (event) => {
        var type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);
        
        var type = confirmPassword.getAttribute("type") === "password" ? "text" : "password";
        confirmPassword.setAttribute("type", type);

        this.classList.toggle('fa-eye-slash');
    });
</script>